/*Init*/
*{
    margin: 0 ;
    padding: 0 ;
}

/*No Horizontal bar*/
body, html {
    overflow-x: hidden;
}
a{
    text-decoration: none;
}

header{
    width: 100vw;
    height: 100vh;
    background:
    /*Make Background Dim*/
        linear-gradient(
            to top,
            rgba( 0,0,0,0.6 ) ,
            rgba( 0,0,0,0.8 )
            ) ,
        url( FOU_section4-img.jpg ) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}


/* no underline in a tag*/
a{
    text-decoration: none;
}
/*Navbar*/
/*For the header*/
.navbar{
    display: flex;
    position: absolute ;
    top: 0 ;
    left: 0 ;
    width: 100% ;
    justify-content: space-around;
    padding: 20px ;
    font-family: cursive ;
}
.nav-links{
    padding-top: 30px;
}

/*Logo and  Organization name*/
.navbar .logo{
    background: -webkit-linear-gradient(0deg, #fca34a 10%, #48abe0 65%) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

ul{
    float: left ;
    display: flex ;
    justify-content: center ;
    align-items: center ;
}

ul li{
    margin-left: 70px ;
    font-size: 30px ;
    list-style:armenian ;
    color:gray ;
}

ul li a{
    color: rgb(196, 216, 222);
    text-decoration: none ;
    font-family: cursive ;
    font-weight: bold ;
    transition: 0.5s ease-in-out ;
}
/*Change color one selected*/
ul li:hover{
    color: rgb(241, 196, 114)
}

/*The search bar*/
.srch{
    font-family: 'Arial' ;
    width: 200px ;
    height: 40px ;
    background:  transparent;
    border: 1px solid rgb(196, 216, 222) ;
    color: white ;
    border-right: none ;
    float: left;
    border-bottom-left-radius: 5px ;
    border-top-left-radius: 5px ;
    padding-left: 10px;
}
/*The search button*/
.btn{
    float: left;
    width: 100px ;
    height: 40px ;
    background: orange ;
    border: 2px solid orange ;
    color: white ;
    font-family: cursive ;
    font-size: 15px ;
    border-top-right-radius: 5px ;
    border-bottom-right-radius: 5px ;
}
.btn:focus{
    outline: none; 
}

.srch:focus{
    outline: none ;
}

.menu-btn{
    position: absolute;
    top: 40px;
    right: 80px;
    width: 40px;
    cursor: pointer;
    display: none;

}

/*About Us content*/
section{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px auto;
}
.line{
    width: 190px;
    height: 2px;
    background: #da9cb6;
    margin: 10px auto;
    border-radius: 5px;
}
.AboutUs-Content{
    width: 60%;
    padding-top:200px;
    color: #fc036b ;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: left ;
}

.AboutUs-Content h1{
    font-size: 6vmin;
    margin: 10px;
}


.AboutUs-Content p{
    padding-top: 15px;
    color: #da9cb6;
    font-size: 4vmin;
    display: flex;
    justify-content: center;
    text-align:justify;
    padding-left: 50px;
}

.AboutUs img{
    position: absolute;
    float: left;
    width: 60vmin;
    height: 50vmin;
    right: 4vmin;
    top: 30vmin;
    border-radius: 50% 20% / 10% 40%;
    -webkit-animation:spin 25s linear;
    -moz-animation:spin 25s linear;
    animation:spin 25s linear infinite;
    /*Never Scale the image larger than its origin*/
    max-width: 100%;
    padding-left: 10%;
}

    @-moz-keyframes spin { 
        100% { -moz-transform: rotate(40deg); } 
    }
    @-webkit-keyframes spin { 
        100% { -webkit-transform: rotate(40deg); } 
    }
    @keyframes spin { 
        100% { 
            -webkit-transform: rotate(40deg); 
            transform:rotate(40deg); 
        } 
    }


.bankpage{
    width: 100vw;
    height: 150vh;
    background-color: #000000;
    margin:0;
}

.bankpage h1{
    color:aliceblue;
    font-size: 5vmin;
    text-align: justify;
}



.footer{
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background: #484872;
    text-align: center;
}

.footer p{
    color: whitesmoke;
    margin: 20px auto;
    padding: 20px auto;
}

.footer .myGitHub{
    width: 200px;
    height: 200px;
    padding-left: 50px;
}

@media only screen and (max-width:850px){
    .navbar{
        padding: 0;
    }
    .navbar .icon{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .navbar .logo{
        position: absolute;
        top: 120px;
        left: 6px;
    }
    .nav-list{
        flex-direction: column;
        width: 60vw;
        height: 90vh;
        justify-content: center;
        transition: all 0.5s ease;
        background: #d5a779;
        margin-top: -900px;
    }
    .nav-list li{
        margin: 30px auto;
    }
    .menu-btn{
        display: block;
    }
    .mobile-menu{
        margin-top: 0px;
        border-bottom-right-radius:30%;
    }
}