/*Init*/
*{
    margin: 0 ;
    padding: 0 ;
}

/*No Horizontal bar*/
body, html {
    overflow-x: hidden;
}

/* no underline in a tag*/
a{
    text-decoration: none;
}
/*For the background*/
header{
    width: 100vw ;
    height: 100vh ;
    background:
    /*Make Background Dim*/
        linear-gradient(
            to top,
            rgba( 0,0,0,0.6 ) ,
            rgba( 0,0,0,0.8 )
            ) ,
        url( AfricaChildren.jpg ) ;
    background-position: center ;
    /*Full image coverage(background)*/
    background-size: cover ;
    display: flex ;
    align-items: center ;
    justify-content: center ;
}

/*For the content*/
.header-content {
    margin-bottom: 150px ;
    color: white ;
    text-align: center ;
}

/*First line*/
.header-content h1{
    font-family: cursive ;
    font-size: 4vmin ;
    margin-top: 50px ;
    background: -webkit-linear-gradient(0deg, #fca34a 20%, #48abe0 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*Second Line*/
.header-content h2{
    font-family: cursive ;
    font-size: 2vmin ;
    margin-top: 30px ;
    margin-bottom: 30px ;
    background: -webkit-linear-gradient(0deg, #fca34a 20%, #48abe0 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*Navbar*/
/*For the header*/
.navbar{
    display: flex;
    position: absolute ;
    top: 0 ;
    left: 0 ;
    width: 100% ;
    justify-content: space-around;
    padding: 20px ;
    font-family: cursive ;
}
.nav-links{
    padding-top: 30px;
}

/*Logo and  Organization name*/
.navbar .logo{
    background: -webkit-linear-gradient(0deg, #fca34a 10%, #48abe0 65%) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

ul{
    float: left ;
    display: flex ;
    justify-content: center ;
    align-items: center ;
}

ul li{
    margin-left: 70px ;
    font-size: 30px ;
    list-style:armenian ;
    color:gray ;
}

ul li a{
    color: rgb(196, 216, 222);
    text-decoration: none ;
    font-family: cursive ;
    font-weight: bold ;
    transition: 0.5s ease-in-out ;
}
/*Change color one selected*/
ul li:hover{
    color: rgb(241, 196, 114)
}

/*The search bar*/
.srch{
    font-family: 'Arial' ;
    width: 200px ;
    height: 40px ;
    background:  transparent;
    border: 1px solid rgb(196, 216, 222) ;
    color: white ;
    border-right: none ;
    float: left;
    border-bottom-left-radius: 5px ;
    border-top-left-radius: 5px ;
    padding-left: 10px;
}
/*The search button*/
.btn{
    float: left;
    width: 100px ;
    height: 40px ;
    background: orange ;
    border: 2px solid orange ;
    color: white ;
    font-family: cursive ;
    font-size: 15px ;
    border-top-right-radius: 5px ;
    border-bottom-right-radius: 5px ;
}
.btn:focus{
    outline: none; 
}

.srch:focus{
    outline: none ;
}

.menu-btn{
    position: absolute;
    top: 40px;
    right: 80px;
    width: 40px;
    cursor: pointer;
    display: none;

}
/* Sharing */
section{
    width: 80%;
    margin: 80px auto;
}

.title{
    text-align: center;
    font-size: 4vmin;
    color: #f63a3a
}
.line{
    width: 150px;
    height: 4px;
    background: #fc036b;
    margin: 10px auto;
    border-radius: 5px;
}
.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background: cyan;
}

.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sharing .row{
    margin-top : 50px;
}

h1{
    font-size: 3min;
    color: #484872;
    margin: 20px auto;
}

p{
    color: #7c7c7c;
    padding: 0px 40px;
    font-size: 30px ;
}

.sharing .ctn {
    margin-top: 30px;
    padding: 8px 15px;
    background: #fc036b;
    border-radius: 30px;
    color: whitesmoke;
}


/*Make it responsive when the shrink*/
@media only screen and (max-width:850px){
    .navbar{
        padding: 0;
    }
    .navbar .icon{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .navbar .logo{
        position: absolute;
        top: 120px;
        left: 6px;
    }
    .nav-list{
        flex-direction: column;
        width: 60vw;
        height: 90vh;
        justify-content: center;
        transition: all 0.5s ease;
        background: #d5a779;
        margin-top: -900px;
    }
    .nav-list li{
        margin: 30px auto;
}
    .menu-btn{
        display: block;
    }
    .mobile-menu{
        margin-top: 0px;
        border-bottom-right-radius:30%;
    }
}
